# Binary
myproxy
myproxy-*
clashctl-*
*.exe

# Go
vendor/

# IDE
.idea/
.vscode/
.codex
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Config
*.yaml
!assets/*.tpl
clashctl

# Build artifacts
checksums-sha256.txt
